PASSCODE=

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5992;https://localhost:7992

DB_HOST=localhost
DB_PORT=5432
DB_USER=bootcodemvpuser
DB_PASSWORD=_____
DB_NAME=bootcodemvpdb
