<app-mobile>
  @switch (lessonQuery.status()) { @case ("pending") {
  <div class="flex items-center justify-center gap-2">
    <ng-icon name="phosphorSpinnerGap" class="animate-spin" size="24" />
    <span class="">در حال بارگذاری...</span>
  </div>
  } @case ("error") {
  <div class="flex flex-col items-center justify-center text-center gap-2">
    <i class="ph-fill ph-warning-circle text-3xl text-destructive"></i>
    <p class="text-destructive">مشکلی پیش آمد...</p>
    <button hlmBtn variant="outline" (click)="lessonQuery.refetch()">
      <span>تلاش مجدد</span>
      <ng-icon name="phosphorArrowCounterClockwiseFill" />
    </button>
  </div>
  } @case ("success") { @let lesson = lessonQuery.data()!;

  <div class="flex gap-2 items-center flex-wrap">
    <a hlmBtn variant="ghost" size="icon-lg" routerLink="/">
      <ng-icon name="phosphorCaretRight" size="24" />
    </a>

    <!-- Did this so BiomeJS wouldn't error. -->
    <h1
      class="text-xl font-bold text-start me-auto"
      [textContent]="lesson.title"
    ></h1>

    <app-show-if-admin [showFallback]="false" class="contents">
      <a
        hlmBtn
        variant="ghost"
        size="icon-lg"
        [routerLink]="getEditPageUrl()"
        title="ویرایش درس"
      >
        <ng-icon name="phosphorPencilSimpleLine" size="24" />
      </a>

      <a
        hlmBtn
        variant="ghost"
        size="icon-lg"
        [routerLink]="getEditContentPageUrl()"
        title="ویرایش محتوای درس"
      >
        <ng-icon name="phosphorNotePencil" size="24" />
      </a>

      <button
        hlmBtn
        variant="ghost"
        size="icon-lg"
        (click)="removeLesson()"
        title="حذف درس"
        [disabled]="removeLessonMutation.isPending()"
      >
        <ng-icon name="phosphorTrash" size="24" />
      </button>
    </app-show-if-admin>
  </div>
  @if (this.isPopulatedString(lesson.imageUrl)) {
  <img [src]="this.getFullFileUrl(lesson.imageUrl)" />} @if
  (this.isPopulatedString(lesson.audioUrl)) {
  <audio controls class="w-full block">
    <source
      [src]="this.getFullFileUrl(lesson.audioUrl)"
      [type]="this.getFileAndMimeType(lesson.audioUrl).mimeType"
    />
    <p>مرورگر شما از فایل‌های صوتی پشتیبانی نمی‌کنه...</p>
  </audio>
  } @if (this.isPopulatedString(lesson.videoUrl)) {
  <video controls class="w-full block">
    <source
      [src]="this.getFullFileUrl(lesson.videoUrl)"
      [type]="this.getFileAndMimeType(lesson.videoUrl).mimeType"
    />
    <p>مرورگر شما از فایل‌های ویدیویی پشتیبانی نمی‌کنه...</p>
  </video>
  } @if (this.isPopulatedString(lesson.textContent)) {
  <markdown class="prose" [data]="lesson.textContent"></markdown>} } }
</app-mobile>
